.ipynb_checkpoints/
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.venv/
outputs/
.bundle
data/brazil_population_by_state.csv
data/merged_2014_v1.gpkg
data/merged_2014.gpkg
data/merged_2018.gpkg
data/merged_2022.gpkg
data/merged_2018_v1.gpkg
data/merged_2022_v1.gpkg
data/merged_2022_v2.gpkg
data/merged_all_years.gpkg
data/plot_race.py
data/race.py
data/state_2014.gpkg
data/state_2018.gpkg
data/state_2022.gpkg
data/votacao_candidato-municipio_2014.csv
data/votacao_candidato-municipio_2018.csv
data/votacao_candidato-municipio_2022.csv
data/votacao_candidato-municipio_2014_2.csv
data/votacao_candidato-municipio_2018_2.csv
data/votacao_candidato-municipio_2022_2.csv
data/merged_all_years.gpkg
